html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}

img {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: inherit;
}