@font-face {
  font-family: 'Poppins';
  src: url('./../assets/fonts/poppins-extralight.woff2') format('woff2');
  font-display: swap;
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: 'Poppins';
  src: url('./../assets/fonts/poppins-regular.woff2') format('woff2');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Poppins';
  src: url('./../assets/fonts/poppins-semibold.woff2') format('woff2');
  font-display: swap;
  font-style: normal;
  font-weight: 600;
}

:root {
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --grey-500: hsl(234, 12%, 34%);
  --white: hsl(0, 0%, 100%);
  --bg-page: hsl(0, 0%, 98%);
  --shadow-card: hsl(213, 47%, 67%, .5);
  --ff-base: 'Poppins', sans-serif;
}

.page {
  min-block-size: 100dvh;
  font-family: var(--ff-base);
  background-color: var(--bg-page);
  color: var(--grey-500);
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}

.features {
  margin-inline: auto;
  min-inline-size: 20rem;
  padding-inline: 1.5rem;
}

.features__header {
  max-inline-size: 33.75rem;
  margin-inline: auto;
  padding-block: 3.55rem;
  text-align: center;
  line-height: 1.4;

  h1 {
    font-size: clamp(1.5rem, 1rem + 2.13vw, 2.25rem);
    font-weight: 600;
    letter-spacing: .25px;

    span {
      display: block;
      font-weight: 200;
    }
  }

  p {
    margin-top: .9rem;
    font-size: 0.9375rem;
    font-weight: 400;
    letter-spacing: .08px;
  }

  @media (width >=1366px) {
    padding-top: 6.5rem;
  }
}

.features__cards {
  --radius: 8px;

  margin-top: .15rem;
  margin-inline: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "supervisor"
    "team"
    "karma"
    "calculator";
  justify-items: center;
  align-items: center;
  gap: 2rem;

  .card--supervisor {
    --color: var(--cyan);
    grid-area: supervisor;
  }

  .card--team {
    --color: var(--red);
    grid-area: team;
  }

  .card--karma {
    --color: var(--orange);
    grid-area: karma;
  }

  .card--calculator {
    --color: var(--blue);
    grid-area: calculator;
  }

  @media (width >=48rem) {
    max-inline-size: 41.25rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "team team"
      "supervisor karma"
      "calculator calculator";
  }

  @media (width >=75rem) {
    max-inline-size: 69.625rem;
    margin-top: 1rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "supervisor team calculator"
      "supervisor karma calculator";
  }
}

.card {
  max-inline-size: 21.875rem;
  padding: 1.85rem 2rem 2.95rem;
  background-color: var(--white);
  border-radius: var(--radius);
  border-top: 4px solid var(--color);
  box-shadow: 0 15px 30px -11px var(--shadow-card);

  h3 {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.35;
  }

  p {
    margin-top: .4rem;
    font-size: 0.8125rem;
    font-weight: 400;
    letter-spacing: .09px;
    line-height: 1.6;
  }

  img {
    margin-top: 1.9rem;
    margin-left: auto;
    display: block;
  }
}

.attribution {
  padding: 5rem 0 2rem;
  font-size: 0.7rem;
  text-align: center;

  a {
    margin-inline: .2rem;
    font-weight: 600;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      bottom: -2px;
      right: 0;
      inline-size: 100%;
      block-size: 1.8px;
      background-color: currentColor;
      transition: inline-size .3s ease-in-out;
    }

    &:focus-visible::after,
    &:hover::after {
      inline-size: 0;
    }

    &:focus-visible {
      outline: 2px dotted currentColor;
      outline-offset: 2px;
    }
  }
}